* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-family: 'Quicksand', sans-serif;
  background-image: linear-gradient(45deg, #eeeded, #7d7a7a);
  position: relative; }

/* FORMATOS DE TEXTO */
ul {
  list-style-type: none; }

a {
  text-decoration: none;
  color: white;
  font-size: 20px; }

p {
  line-height: 1.8;
  margin: 20px;
  text-align: justify;
  font-size: 25px; }

h2 {
  font-size: 30px;
  display: flex; }

.container {
  max-width: 1200px;
  margin: 0 auto; }

input {
  border-radius: 10px;
  height: 30px;
  border-style: none; }

textarea {
  border-radius: 10px;
  border-style: none; }

span {
  display: none; }

header {
  display: flex;
  justify-content: space-between;
  background-image: linear-gradient(45deg, #c60606, black);
  color: white;
  padding: 30px; }
  header .content__search--bar {
    background-color: white;
    color: #d7d4d4;
    width: 250px;
    height: 30px;
    border-radius: 15px; }
  header .content__navbar li {
    margin: 0 15px;
    font-weight: lighter; }
  header .content__navbar ul {
    display: flex; }
  header .header__content-tittle {
    color: #fdfdfd;
    font-size: 40px; }
  header .header__content-icon {
    border-radius: 50px;
    width: 30px;
    height: 30px;
    margin-left: 5px; }

/*MEDIAS QUERIES*/
@media (max-width: 1024px) {
  .content__search label {
    display: none; }
  .header__content-tittle {
    display: none; } }

@media (max-width: 768px) {
  header {
    display: flex; } }

/*  animacion banner  */
.main__animation {
  background-image: linear-gradient(45deg, #c60606, black);
  padding: 50px 20px;
  margin-bottom: 100px;
  color: aliceblue;
  box-shadow: 0 25px 50px -12px #620303; }
  .main__animation-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
    align-items: center; }
  .main__animation-content h1 {
    color: #d7d4d4;
    font-size: 50px;
    margin-bottom: 20px; }
  .main__animation .main__grid-video {
    width: 100%;
    border-radius: 15px;
    box-shadow: 0 25px 50px -15px white; }

/* ************** */
/*CARTAS*/
.card {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 120px; }
  .card__content {
    background-color: #ae2424;
    color: white;
    padding: 20px;
    width: 600px;
    border-radius: 10px;
    box-shadow: 0 5px 200px -12px #620303; }
  .card__content-main img {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 20px; }
  .card__content-link {
    background-color: #462727;
    color: white;
    width: 100%;
    display: inline-block;
    border-radius: 10px;
    padding: 15px;
    text-align: center; }
  .card__content-link:hover {
    background-color: #6d3c3c; }

/*******************/
/* MEDIA Y FORMULARIO */
.formulario {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  background-image: linear-gradient(45deg, red, black);
  color: white;
  padding: 30px;
  margin-top: 30px; }
  .formulario .formulario__content-item {
    display: flex;
    align-items: center; }
  .formulario .formulario h3 {
    margin: 10px;
    font-size: 30px; }
  .formulario .media__video {
    height: 300px;
    width: 600px;
    margin: 20px 0px;
    border-radius: 10%; }

@media (max-width: 1440px) {
  .card {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center; }
  .main__animation-grid {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center; }
  .main__grid-video {
    justify-items: center; }
  .formulario {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center; } }

@media (max-width: 1024px) {
  .formulario {
    display: grid;
    grid-template-columns: 1fr; }
  .media__video {
    width: 300px; } }

@media (max-width: 768px) {
  .card__content {
    width: 300px;
    font-size: 16px; }
  .media__video {
    display: none;
    width: 50px;
    height: 100px;
    margin: 0px; } }

.footer {
  background-image: linear-gradient(45deg, #c60606, black);
  color: white;
  width: 100%;
  padding: 10px;
  position: absolute; }

.footer__section-one {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 50px;
  padding: 40px 0px;
  justify-items: center;
  align-items: center; }

.footer__section-one img {
  height: 150px;
  border-radius: 25%; }

.footer__section-two {
  display: flex;
  justify-content: center; }

@media (max-width: 768px) {
  .footer__section-one {
    display: grid;
    grid-template-columns: 1fr; } }

/*REDES SOCIALES*/
.socials__grid-card {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 120px;
  padding: 20px; }
  .socials__grid-card .socials__card {
    background-color: #700000;
    color: white;
    padding: 20px;
    width: 600px;
    border-radius: 10px;
    box-shadow: 0 5px 200px -12px #620303;
    transition: transform 0.3s; }
    .socials__grid-card .socials__card .socials__card-image {
      background-image: linear-gradient(45deg, #eeeded, #7d7a7a);
      width: 100%;
      border-radius: 10px;
      margin-bottom: 20px; }
    .socials__grid-card .socials__card .socials__card-link {
      background-color: #462727;
      color: white;
      width: 100%;
      display: inline-block;
      border-radius: 10px;
      padding: 15px;
      text-align: center; }
    .socials__grid-card .socials__card .socials__card-link:hover {
      background-color: #6d3c3c; }

/**********/
/* UBICACION */
.ubication__grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 120px;
  padding: 80px 0; }
  .ubication__grid .ubication__content {
    padding: 30px 30px;
    background-color: #700000;
    border-radius: 30px; }
  .ubication__grid .ubication__content-text1 {
    font-weight: bold; }

.ubication__content-text3, .ubication__content-text4, .ubication__content-text5 {
  font-size: 24px;
  font-style: italic; }

.ubication__content-text4 {
  color: firebrick; }

.ubication__content-text5 {
  color: green; }

/**********/
/* ingressar */
.login {
  background-image: linear-gradient(45deg, red, black);
  color: white;
  margin: 100px auto;
  padding: 20px;
  width: 600px;
  border-radius: 20px;
  box-shadow: 0 5px 200px -12px #620303; }
  .login .login__form-tittle {
    display: flex;
    justify-content: center;
    justify-items: center;
    font-size: 50px;
    padding-top: 30px; }
  .login .login__content-form {
    margin: 100px;
    display: grid;
    justify-items: center; }
    .login .login__content-form .login__form-item {
      font-size: 25px;
      margin: 5px; }

.login__link {
  background-color: #462727;
  padding: 10px;
  border-radius: 30px; }

.login__link:hover {
  background-color: #6d3c3c; }

/*******/
/*CREAR USUARIO*/
.user {
  background-image: linear-gradient(45deg, red, black);
  color: white;
  margin: 100px auto;
  padding: 20px;
  width: 600px;
  border-radius: 20px;
  box-shadow: 0 5px 200px -12px #620303; }
  .user .user__content-tittle {
    display: flex;
    justify-content: center;
    justify-items: center;
    font-size: 50px;
    padding-top: 30px; }
  .user .user__content-form {
    margin: 100px;
    display: grid;
    justify-items: center; }
    .user .user__content-form .user__form-text {
      font-size: 25px;
      margin: 5px; }
    .user .user__content-form .user__form-link {
      background-color: #462727;
      padding: 10px;
      margin: 10px;
      border-radius: 30px; }

/*INFORMACION*/
.text__content-paper {
  font-size: 30px;
  margin: 30px;
  display: flex;
  justify-content: center; }

.text__content-tittle {
  font-size: 30px;
  margin: 30px;
  display: flex;
  justify-content: center;
  font-weight: bold; }
