/*REDES SOCIALES*/
.socials__grid-card {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 120px;
    padding: 20px;

    .socials__card {
    background-color: rgb(112, 0, 0);
    color: white;
    padding: 20px;
    width: 550px;
    border-radius: 10px;
    box-shadow: 0 5px 200px -12px rgb(98, 3, 3);
    transition: transform 0.3s;

        .socials__card-image {
            background-image: $coloBackground;
            width: 100%;
            border-radius: 10px;
            margin-bottom: 20px;
        }
        .socials__card-link {
            background-color: rgb(70, 39, 39);
            color: white;
            width: 100%;
            display: inline-block;
            border-radius: 10px;
            padding: 15px;
            text-align: center;
        }   
        .socials__card-link:hover {
            background-color: $buttomHover;
        }
    }
    
}

/**********/

/* UBICACION */
.ubication__grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 120px;
    padding: 80px 0;

    .ubication__content {
    padding: 30px 30px;
    background-color: rgb(112, 0, 0);
    border-radius: 30px;

    
    }
    .ubication__content-text1 {
    font-weight: bold;
    }

    .ubication__content-text3 {
        font-size: 24px;
        font-style: italic;
    }
    .ubication__content-text4 {
        @extend .ubication__content-text3;
        color: firebrick;
    }
    .ubication__content-text5 {
        @extend .ubication__content-text3;
        color: green;
    }
}



/**********/

/* ingresar */
.login {
    background-image: linear-gradient(45deg, red, black);
    color: rgb(255, 255, 255);
    margin: 100px auto;
    padding: 20px;
    width: 600px;
    border-radius: 20px;
    box-shadow: 0 5px 200px -12px rgb(98, 3, 3);

    .login__form-tittle {
    display: flex;
    justify-content: center;
    justify-items: center;
    font-size: 50px;
    padding-top: 30px;
    }

    .login__content-form {
        margin: 100px;
        display: grid;
        justify-items: center;
    
            .login__form-item {
            font-size: 25px;
            margin: 5px;
            }
    }
}
.login__link {
    background-color: rgb(70, 39, 39);
    padding: 10px;
    border-radius: 30px;
}
.login__link:hover {
    background-color: $buttomHover;
}
/*******/

/*CREAR USUARIO*/
.user {
    background-image: linear-gradient(45deg, red, black);
    color: rgb(255, 255, 255);
    margin: 100px auto;
    padding: 20px;
    width: 600px;
    border-radius: 20px;
    box-shadow: 0 5px 200px -12px rgb(98, 3, 3);

        .user__content-tittle {
            display: flex;
            justify-content: center;
            justify-items: center;
            font-size: 50px;
            padding-top: 30px;
        }
        .user__content-form {
            margin: 100px;
            display: grid;
            justify-items: center;

                .user__form-text {
                    font-size: 25px;
                    margin: 5px;
                }
                .user__form-link {
                    background-color: rgb(70, 39, 39);
                    padding: 10px;
                    margin: 10px;
                    border-radius: 30px;
                }
        }
        
}
/*INFORMACION*/
@mixin text-base ($inline){
    font-size: 30px;
    margin: 30px;
    display: flex;
    justify-content: ($inline);
}

.text__content-paper {
    @include text-base (center);
}
.text__content-tittle {
    @include text-base(center);
    font-weight: bold;
}

